body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #35393E;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 0;
    padding: 20px;
    background-color: #35393E;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#messages-container {
    margin: 0;
    height: 85vh;
    background-color: #35393E;
    overflow-x: hidden;
    overflow-y: auto;
}

#message-input {
    margin-bottom: 20px;
    padding: 20px;
    height: 5vh;
    font-family: gg-sans-medium, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #40444B;
    border: none;
    border-radius: 16px;
    outline: none;
}

#user-container {
    width: 250px;
    background-color: #2F3136;
    color: white;
    padding: 20px;
}

#servers-container {
    width: 250px;
    background-color: #2F3136;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: gg-sans-bold, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}

p {
    margin: 0;
    padding: 5px;
    font-family: gg-sans-medium, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

b {
    margin: 0;
    padding: 5px;
    font-family: gg-sans-bold, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

/*.signin {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    color: #28262C;
    background-color: #F6F7EB;
    cursor: pointer;
    transition: all .6s ease;
}

.signin svg {
    height: 24px;
}

.signin:hover {
    transform: scale(1.1);
}*/

@font-face {
    font-family: gg-sans-medium;
    font-weight: medium;
    src: url("gg-sans/gg\ sans\ Regular.ttf");
}

@font-face {
    font-family: gg-sans-bold;
    font-weight: bold;
    src: url("gg-sans/gg\ sans\ Bold.ttf");
}